@font-face {
    font-family: Comic Mono;
    src: url(https://dtinth.github.io/comic-mono-font/ComicMono-Bold.ttf);
  }
body{
    font-family: "Comic Mono", monospace;
    color:black;
    font-size: 90px;
    line-height:normal;
    font-weight:150;
}
#box{
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 55rem;
    height:31rem;
    left:210px;
    top:50px;
    border:solid 2px black;
}
#namebox{
    display: flex;
    background-color: #feeac5;
    border-radius: 10px;
    padding:15px 25px 15px;
    font-size: 2.5rem;
    text-align: start;
    margin: 50px auto;
    width:fit-content
}
#name{padding:9px 9px 0px 0px}
#title{
    background-color: #feeac5;
    border-radius: 10px;
    padding:25px 25px 15px;
    font-size: 2rem;
    text-align: start;
    margin: 250px auto 0px;
    width:fit-content
}
#thingy{position:fixed;top:-45px;}
#thingy1{
    position:fixed;
    top:-45px;
    left:250px;
}
#thingy2{
    position:fixed;
    top:-45px;
    left:490px;
}
button{margin-left: -35px;}